/* Général */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  /* Conteneur principal */
  .controls {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
  }
  
  .searchBar input {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
  }
  
  #pageSize {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    font-size: 14px;
    cursor: pointer;
  }
  
  /* Tableau */
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  th,
  td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }
  
  th:hover {
    background-color: #444;
  }
  
  td img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  /* Pagination */
  #pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  #pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #pagination button:disabled {
    background-color: #bbb;
  }
  
  #pagination span {
    margin: 0 10px;
    font-size: 14px;
    color: #333;
  }
  
  /* Détails du héros */
  #hero-details {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  #hero-details h2 {
    margin-bottom: 10px;
    color: #333;
  }
  
  #hero-details img {
    max-width: 300px;
    margin-bottom: 20px;
  }
  
  #hero-details p {
    font-size: 14px;
    color: #555;
  }
  
  #hero-details strong {
    color: #333;
  }
  

  .hero-details {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #f9f9f9;
  }
  
  .hero-details img {
    max-width: 200px;
    margin-bottom: 10px;
  }
  
